version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: atec_secretaria_DB
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: atec_secretaria
      MYSQL_USER: tpsi_user
      MYSQL_PASSWORD: tpsi_password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - "./Base de Dados/atec-secretaria-db.sql:/docker-entrypoint-initdb.d/init.sql"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: node_backend
    restart: always
    ports:
      - "3001:3001"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: vite_frontend
    restart: always
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      VITE_API_URL: http://localhost:3001
    depends_on:
      - backend

volumes:
  db_data:
